<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <%= link_to "app_list", '#' %>
    <nav>
      <ul class="nav navbar-nav navbar-light">
        <li><%= link_to "login", "#" %></li>
      </ul>
    </nav>
  </div>
</header>