<header>
  <div class="container">
    <div class="header-left mt-1">
      <h1><%= link_to 'list_app', '#', :style=>"color:white;"%></h1>
    </div>
    <div class="header-right mt-3">
      <p><%= link_to 'login', '#', class: "btn btn-primary" %></p>
    </div>
  </div>
</header>