<div class="top-wrapper">
  <div class=" text-center">
    <div class="show-top">
      <h1><%= @list.name %>のリスト</h1>
    </div>
    <div class="show-body">
      <% @items.each do |item| %>
        <p>アイテム名：<%= link_to item.name, "#" %>,　アイテム詳細：<%= item.content %></p>
      <% end %>
    </div>
    <div class="show-button">
      <%= link_to 'アイテムを追加する', "/lists/#{@list.id}/new", class: "btn btn-primary" %>
    </div>
  </div>
</div>