<div class="top-logo text-center">
  <div class="container">
    <h1>welcome!</h1>
    <p>This is home page.</p>
    <p>If you have not account, please click button below and create your account.</p>
    <a><%= link_to 'signup', new_user_url, class: 'btn btn-primary' %></a>
  </div>
</div>