<div class="home container text-center">
  <h1>welcome!</h1>
  <p>This is home page.</p>
  <p>If you have not account, please click botton below and create your account.</p>
  <a><%= link_to 'signup', '#', class: 'btn btn-primary' %></a>
</div>