<div class="">
  <section class="jumbotron text-center my-auto">
    <div class="container">
      <h1 class="jumbotron-heading">This is home page</h1>
      <p class="lead text-muted">welcome to list_app page.</p>
      <p class="lead text-muted">If you don't have an account, press the button below to create your account.</p>
      <p>
        <%= link_to "sign up", "#", class: "btn btn-primary" %>
      </p>
    </div>
  </section>
</div>